# pycharm files
.idea/

# tex files
*.aux
*.log
*.dvi
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz

# minted files 
*_minted-main/*

# data
src/data

# notebooks
*.ipynb_checkpoints/
*/__pycache__/

# password to axelbib
src/password.py

# ingored notebooks
src/nbs/examples.ipynb

