# pycharm files
.idea/

# tex files
*.aux
*.log
*.dvi
*.out
*.bbl
*.blg

# minted files 
*/_minted-main/*

# data
src/data

# notebooks
src/nbs/.ipynb_checkpoints/*

# password to axelbib
src/password.py
